<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}TrivAssis{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>Bienvenido a TrivAssis</h1>
      {% if user.is_authenticated  %}
        <p> Bienvenido {{ user.get_username }}</p>
        <a href="{% url 'home' %}">home</a> / <a href="{% url 'logout_page' %}">logout</a>
      {% else %}
        <p>Para tener acceso entre a su cuenta</p>
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block contenido %}{% endblock %}
    </main>
        {% block end-script %}{% endblock %}

  </body>
</html>
