{% extends 'pagina/base.html' %}

{% block contenido%}

<p> Bienvenido otra vez a <em><b>Trivassis</b></em> {{ user.get_username }} </p>
<p> Disfruta este botón para matar el tiempo ! </p>
 <button id="troll" onclick="troll()" type="button">Clickeame !!</button>
{% endblock %}

{% block end-script %}
	<script type="text/javascript">
		function troll(){
			alert("You will click that button again, fella ;)");
		}
	</script>
{% endblock %}
