{% extends 'pagina/base.html' %}

{% block contenido%}
<h3>¿En busca de un ayudante?</h3><hr>
<h4>Encuentra lo que necesitas</h4>
<p><b>TrivAssis</b> es el portal que te permitira encontrar a tu ayudante<br>
Actualmente el sitio se encuentra en su versión alfa; pero, no te preocupes, pronto tendremos novedades.<br>
Puedes disfrutar las maravillas del botón de abajo!</p>
 <button id="troll" onclick="troll()" type="button">Clickeame !!</button><br>
 <p>Si te aburrió aquel, prueba con este</p> <button id="troll2" onclick="troll2()" type="button">click click</button> 
{%endblock%}


{% block end-script %}
<script type="text/javascript"> 
		function troll(){
			var rnd=Math.random();
			rnd=Math.trunc(rnd*10);
			rnd=rnd%3;
			if(rnd==0){
				window.open('https://www.youtube.com/watch?v=gNmp-CNNxTI', "_blank");
				return;
			}
			if(rnd==1){
				window.open('https://www.youtube.com/watch?v=icw8yWBv_vg', "_blank");
				return;
			}
			if(rnd==2){
				window.open('https://www.youtube.com/watch?v=8ZcmTl_1ER8', "_blank");
				return;
			}
		}
		function troll2(){
			window.open('https://www.stackoverflow.com/admin.php','_blank');
		}
	</script>

{% endblock %}