{% extends 'pagina/base.html' %}


	<h1>Ingresa</h1>

{% block contenido %}
	<form id='formulario' method='post' action=''>{% csrf_token %}
		<table>{{formulario}}</table>
		<p><input type='submit' value='Ingresar'/></p>
	</form>
  <h4><a href="{% url 'password_reset' %}">Recuperar Contraseña</a></h4>
{% endblock %}
