<html>
<head>
<title>TrivAssis</title>
</head>
<body>

<nav>
<h1>Bienvenido a TrivAssis</h1>
<p>Si estas registrado acuerdate de ingresar, sino que estas esperando</p>
{% if user.is_authenticated  %}

  <a href="{% url 'logout_page' %}">logout</a>
{% else %}

  <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
{% endif %}
</nav>


<h1>Novedades </h1>
{% for post in posts %}
       <div>
           <p>published: {{ post.published_date }}</p>
           <h2><a href="">{{ post.title }}</a></h2>
           <p>{{ post.text|linebreaksbr }}</p>
       </div>
   {% endfor %}
</body>

</html>
