{% extends 'pagina/base.html'%}

{% block contenido %}
{% if validlink %}
<form method='post'>
  {% csrf_token %}
  {{ form.new_password1.errors}}
  <label for ='id_new_password1'>Nueva Contraseña:</label>
  {{ form.new_password1}}

  {{ form.new_password2.errors}}
  <label for ='id_new_password2'>Confirme Contraseña:</label>
  {{ form.new_password2}}
  <input type='submit' value='Cambiar Contraseña' />
</form>
{% else %}
<h1 class="text-center">Enlace Invalido: Este enlace ya ha sido utilizado, al igual que tu corazon por tu ex T.T</h1>
{% endif %}

{% endblock %}
