{% extends 'pagina/base.html'  %}

{% block contenido %}
<p>Recuperar Contraseña</p>

<form method='post'>
  {% csrf_token %}
  <label for ='id_email'  >Correo:</label> {{ form.email}}
  <input type='submit' value='Enviar' />

</form>

{% endblock %}
